body {
  color: #111;
  background: #f9f9f9;
}

.App {
}

.header {
}

.App-header {
  background-color: #282c34;
  color: white;
  margin-bottom: 30px;
  padding: 20px 0;
}

.App-header h1 {
  font-size: 18px;
  display: inline-block;
}

.App-header .plugin-state {
  display: inline-block;
  margin-left: 30px;
  text-transform: uppercase;
  color: #ccc;
  font-size: 13px;
  font-weight: normal;
  border-radius: 999px;
  background: #000;
  padding: 5px 10px;
}

.chain-id {
  font-size: 14px;
  display: inline-block;
  margin-left: 30px;
  background: #444;
  color: #eee;
  padding: 10px;
  border-radius: 5px;
}

.chain-id span.network {
  text-transform: capitalize;
}

main {
  margin-bottom: 30px;
}
